body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
button,
p {
  margin: 0;
}

button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
